<div class="auto-resizable-iframe">
  <div>
    <iframe width="780" height="450" src=<%= "https://www.youtube-nocookie.com/embed/#{url}?rel=0" %> frameborder="0" allowfullscreen></iframe>
  </div>
</div>
