.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("public/img/backgroung-image-banner.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: white;
}

// .banner-content h1{
//     background-color: white;
// }

// .banner-content p{
//     background-color: white;
// }
