.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("backgroung-image-banner.jpg"), linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.banner-content{
  padding: 50px;
  p {
    font-size: calc(18px + 2vw);
  };
  h1{
    font-size: calc(20px + 5vw);
  }
}

// .banner-content h1{
//     background-color: white;
// }

// .banner-content p{
//     background-color: white;
// }
