/* card infos for videos */
.wrapper{
  background-color: lightgrey;
}

.container{
  list-style: none;
  color: black;
  text-decoration: none;

}
.videos{
  color: black;
  text-decoration: none;
}
