/* card infos for videos */
.wrapper{
  background-color: light-gray;
}

.container{
  list-style: none;
  color: gray;
  text-decoration: none;
}

.cards-videos{
  display: table;
  width: 100%;
  padding: 20px;
  border: 10px;

}
.cards-videos a {
  color: gray;
  text-decoration: none;
}

.card-video a:hover{
  color:black;
}

.card-add-video{
  display: table;
  width: 100%;
  height: 281px;
  padding: 50px;
}
